<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset your password</title>
  </head>
  <body>
    <h3>{{ site_name }}</h3>
    <p>Hello {{ user.username }}!</p>
    <p>
      Reset your password by clicking the button or visiting the link:
    </p>
    <br />
    <center>
      <a
        href="{{ protocol }}://{{ domain }}/login/forgot-password/confirm/{{ token }}"
        target="_blank"
        rel="noopener noreferrer"
        style="
          text-decoration: none;
          width: auto;
          border: none;
          padding: 5px 20px;
          max-width: 300px;
          border-radius: 4px;
          color: #fff;
          background-color: #333;
        "
      >
        Reset password
      </a>
      <br />
      <br />
      or
      <p>{{ protocol }}://{{ domain }}/login/forgot-password/confirm/{{ token }}</p>
    </center>
    <br />
    <p>Thank you</p>
    <p>Team {{ site_name }}</p>
  </body>
</html>
